* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  background-color: #dadad1;
  color: #1a1c20;
}

header {
  font-size: calc(12px + 2vmin);
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

a, a:visited, a:active {
  color: #1a1c20;
}

input {
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: calc(18px + 5vmin);
  margin: 20px 0 12px;
  background-color: #eecc84;
  border: 1px solid #eecc84;
}

input:focus, 
select:focus {
  outline: none;
}

input:focus {
  background-color: #e7b549;
  border-color: #e7b549;
}

select:focus {
  background-color: #b9b9af;
}

select, 
option {
  font-size: calc(12px + 2vmin);
  background-color: #c5c5ba;
}

header, 
select, 
option {
  font-family: 'Roboto';
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 20vmin);
  gap: 2vw;
  align-items: center;
  justify-items: center;
  max-width: 54vmax;
  min-width: 316px;
  margin: 0 auto;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-weight: 500;
}

.h2 {
  font-family: 'Roboto Slab', 'serif';
  font-size: calc(20px + 4vmin);
  margin: 20px 0;
}

.main div {
  font-size: calc(18px + 1.5vmin);
  width: 100%;
  height: 100%;
}

.wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  max-width: 80vmax;
  min-width: 316px;
  max-height: 95vh;
  margin: 0 auto;
  padding: 0 1vw;
}

.categories {
  padding: 0 8px 4px;
  background-color: #eecc84;
}

.control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;
  font-size: calc(20px + 2vmin);
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.control div {
  background-color: #c5c5ba;
}

.main > :nth-child(1),
.main > :nth-child(4),
.main > :nth-child(5) {
  background-color: #eecc84;
}

.main > :nth-child(1):hover,
.main > :nth-child(4):hover,
.main > :nth-child(5):hover {
  background-color: #e7b549;
}

.main > :nth-child(1):active,
.main > :nth-child(4):active,
.main > :nth-child(5):active {
  background-color: #e7a618;
  animation: gradient 80ms;
}

.main > :nth-child(2),
.main > :nth-child(3),
.main > :nth-child(6) {
  background-color: #ea8a4a;
}

.main > :nth-child(2):hover,
.main > :nth-child(3):hover,
.main > :nth-child(6):hover {
  background-color: #dd722a;
}

.main > :nth-child(2):active,
.main > :nth-child(3):active,
.main > :nth-child(6):active {
  background-color: #ca6623;
}

.control div:hover, 
.main div:hover, 
.categories:hover {
  cursor: pointer;
}

.control button:hover {
  background-color: #b8b8ad;
}

.categories:hover {
  background-color: #e7b549;
}

.categories:active {
  background-color: #e7a618;
}

.control div:last-child {
  font-size: calc(16px + 2vmin);
  background-color: #ea8a4a;
  grid-column: span 2;
}

.control div:nth-child(12) {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(16px + 2vmin);
  background-color: #ea8a4a;
}

.control div:nth-child(13) {
  font-family: Arial, Helvetica, sans-serif;
}

.control div:last-child:hover,
.control div:nth-child(12):hover {
  background-color: #dd722a;
}

.control div:last-child:active,
.control div:nth-child(12):active {
  background-color: #ca6623;
}

.control div button:hover {
  background-color: #b8b8ad;
}

.control div:nth-child(11) button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.control div:last-child button,
.control div:nth-child(12) button {
  background-color: #ea8a4a;
}

.control div:last-child button:hover,
.control div:nth-child(12) button:hover {
  background-color: #dd722a;
}

.error {
  font-size: calc(20px + 4vmin);
  margin: 16px 12px;
}

@media (max-height: 768px) {
  .wrap {
    max-height: 100vh;
    max-width: 50vw;
  }

  .control {
    margin-top: 6px;
  }

  select, 
  option {
    font-size: calc(12px + 1vmin);
    background-color: #c5c5ba;
  }

  input {
    margin: 8px 0 6px;
    font-size: calc(14px + 4vmin);
  }

  .control {
    font-size: calc(12px + 2vmin);
  }

  .control div:last-child {
    font-size: calc(10px + 2vmin);
  }

  .control div:nth-child(12) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 2vmin);
  }
}

@media (min-width: 1200px) {
  .wrap {
    max-width: 50vmax;
  }
}

@media (max-width: 600px) {
  .wrap {
    max-height: 80vmax;
  }

  .main {
    grid-template-rows: repeat(3, 26vmin);
  }

}

@media (max-width: 420px) {
  .wrap {
    max-width: 100vmax;
    max-height: 70vmax;
  }
}

@media (min-width: 0) and (max-width: 400px) {
  input {
    font-size: calc(18px + 4vmin);
  }
}

